# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS metadata
__MACOSX/
.DS_Store

# IDE and Editor configurations
.vscode/
.idea/
*.swp
*.swo

# Temporary test logs & files
scratch/
*.log
